.placeForButton {
    height: 200px;
    width: 300px;
    border: 1px solid green;
    position: relative;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 8px;
    position: absolute;
    top: 2px;
    left: 2px;
    font-weight: 900;
    color: green;
}