body{
    background-color: white;
}

.footer{
    max-width: 935px;
    display: flex;
}
.footer_container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer_nav{
    width: fit-content;
}
.footer_nav__logo_container{
    width: fit-content;
    height: fit-content;
}
.footer_nav__logo_link{
    display: block;
    margin-bottom: 22px;
}
.footer_nav__text_container{
    width: 100%;
    margin-bottom: 22px;
}
.footer_nav__text{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #7C7C7C;
}
.footer_nav__social{
    display: flex;
    width: 100%;
}
.footer_nav__social_link{
    margin-right: 24px;
    display: flex;
    align-items: center;
}
.footer_nav__social_link:last-child{
    margin-right: 0;
}
.footer_menu{
    width: 316px;
    display: flex;
    justify-content: space-between;
}
.footer_menu__block{
    display: flex;
    flex-direction: column;
}

.footer_menu__title{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 13px;
    margin-left: 5px;
}
.footer_menu__section{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: fit-content;
    padding: 3px 5px;
}
.footer_menu__section:hover{
    background-color: black;
    color: white;
}
.footer_menu__section_link{
    text-decoration: none;
    color: black;
}

.page-block {
    padding: 50px 0;
    border: 1px solid black;
}

.page-block__content{
    margin: 0 auto;
    max-width: 1080px;
    padding: 0 10px;
}